@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
}
body {
  background-color: #111111;
}
.bg-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.014) 0%,
    rgba(255, 255, 255, 0.07) 100%
  );
}
.bg-green-gradient {
  background: linear-gradient(
    180deg,
    rgba(174, 225, 86, 0.05) 0%,
    rgba(174, 225, 86, 0.1) 100%
  );
}
.primary-btn {
  background: linear-gradient(180deg, #aee156 0%, #6fa315 100%);
}
.side-bar {
  background: linear-gradient(180deg, #181818 0%, #111111 100%);
}

#nav-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 6px;
}

#nav-icon1 span:nth-child(3) {
  top: 12px;
}

#nav-icon1.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

#nav-icon1.open span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
